:root {
  --blue: #006ecc;
  --red: #ed1c24;
}


/* ------------------------------------------------------------------ */
/* Header Styles
/* ------------------------------------------------------------------ */

header {
  /* position: relative; */
  height: auto;
  width: 100%;
  background: url(../images/JNJ-landingpage-hero-image.jpg) no-repeat top center;
  background-size: cover;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 100%;
}

.header-icons-container {
  text-align: left;  
  margin: 2rem 0 0 12rem;
}

.header-icons-container img{
  filter :brightness(0) invert(1);
  margin: 0 1.4rem;
}

.header-hero-main {
  width: 70%;
  margin: 2% auto;
}

.header-hero-scroll {
  width: 7%;
  margin: 4% auto;
}

/* ------------------------------------------------------------------ */
/* Introduce Styles
/* ------------------------------------------------------------------ */

#introduce {
  padding: 10rem 0;
}

.introduce-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduce-header-container img {
  width: 60%;
}

.introduce-p-container {
  margin: 8rem 0;
}

.introduce-p-container p{
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

.impact-blue{
  color: var(--blue);
  font-weight: bold;
}

.introduce-contents-wrapper {
  background-color: #f7f7f7;
  background-image: url(../images/jnj-dots-pattern.png);
  padding: 10rem;
}

.introduce-contents-title {
  text-align: left;
}

.introduce-contents-title h1 {
  font-size: 5rem;
  width: 65%;
  text-align: left;
  border-bottom: 1px solid var(--red);
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.int-cont-list-container {
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding: 3rem 0;
}

.introduce-contents-list-row {
  display: flex;
  color: white;
  text-align: left;
  font-size: 2.4rem;
  font-weight: 200;
}

.introduce-contents-list-row img {
  height: auto;
  width: 50%;
}

.introduce-contents-list-row h3 {
  font-size: 3rem;
}

.introduce-contents-list-row p {
  font-size: 2.4rem;
  margin: 2rem 0;
  padding-right: 5rem;
}

.int-cont-list-img-container {
  display: flex;
  flex: 1;
}

.int-cont-list-img-container img {
  margin: auto;
}

.int-cont-list-cont {
  flex: 2;
  padding-top: 2rem;
}

.introduce-scrolldown {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  width: fit-content;
  height: fit-content;
  margin: 5rem auto;
}
.introduce-scrolldown a {
  background-color: var(--blue);
  color: white;
  padding: 2rem 4rem;
  text-decoration: none;
}

.introduce-scrolldown a:hover {
  color: white;
}

.introduce-learn-wrapper {
  width: 65%;
  margin: 10rem auto;
  margin-bottom: 0;
}

.introduce-learn-title {
  width: fit-content;
}

.introduce-learn-title h1 {
  font-size: 5rem;
  text-align: left;
}

.introduce-learn-title .underline {
  border-top: 1px solid var(--red);
  width: 65%;
}

.int-learn-grid {
  margin-top: 3rem;
  padding: 3rem;
  width: 90%;
  margin: auto;
}

.int-learn-item {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: fit-content;
}

.int-learn-item img{
  height: 120px;
  margin: auto;
}

.int-learn-item label{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.int-bg-pattern-dots {
  /* background-image: url(../images/jnj-dots-pattern.png);
  position: absolute;
  width: 100%;
  height: 100%; */
}

.int-bg-box-1, .int-bg-box-2 {

}

/* <div className="int-bg-pattern-dots" />
        <div className="int-bg-box-1" />
        <div className="int-bg-box-2" /> */